# Other useful tidbits
.#*
.DS_Store
.bundle
.byebug_history
.docker-sync
.pry_history
.ruby-version
.rvmrc
.sass-cache
.tddium*
.tool-versions
.yardoc/*

doc/
coverage
doc/api
doc/app
log/

nbproject

public/api/
public/files/*
public/system/*
public/stylesheets/compiled/*

scratch.rb
Session.vim
supervisord.log
supervisord.pid
tags
tmp/*
tmp/**/*
tmp/restart.txt
tmp/theme.zip

# Dev scripts that might be symlinked from another dir
bin/iqdev
.envrc

.overcommit.yml

# temporarily ignoring ember directory
ember

/packs
/public/packs
/public/packs-test
/node_modules
/.idea
/vendor

